/*
COLOR PALETTE
https://coolors.co/47bfc1-c86ff6-5957ca-ffffff-252323
#47BFC1 - Maximum Blue Green
#C86FF6 - Heliotrope
#5957CA - Iris
#FFFFFF - White
#252323 - Raisin Black
*/

/* Fonts
-----------------------------------*/
@font-face {
    font-family: "JosefinSans-Regular";
    src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans-Light";
    src: url("../fonts/JosefinSans-Light.ttf");
}

/* Global Styles
-----------------------------------*/
body {
    font-family: "JosefinSans-Light", Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: "JosefinSans-Regular", Verdana, Geneva, Tahoma, sans-serif;
}

.btn, .btn:hover {
    background: #5957CA;
    border: 1px solid #5957CA;
    border-radius: 0;
    color: #FFFFFF;
}

.full-width-section {
    padding: 6rem;
    margin: 4rem 0;
    text-align: center;
    background: #47BFC1;
    color: #FFFFFF;
}

/* Navigation
-----------------------------------*/
.navbar {
    background: #252323;
}

.dropdown-menu {
    border-radius: 0;
}


/* Header Style
-----------------------------------*/
.hero {
    padding: 8rem;
    margin-bottom: 2rem;
    background: #47BFC1;
    color: #FFFFFF;
}


/* About
-----------------------------------*/
#about {
    padding: 6rem;
    width: 1000px;
    margin: 0 auto;
}

.special-highlight {
    color: #FFFFFF;
    content: "";
    width: 100%;
    height: 20px;
    background: #47BFC1;
}

/* Testimonials
-----------------------------------*/



/* Services
-----------------------------------*/



/* Blog
-----------------------------------*/
#blog {
    padding: 6rem;
    width: 1000px;
    margin: 0 auto;
}


/* Contact
-----------------------------------*/



/* Footer
-----------------------------------*/
.site-footer {
    padding: 50px;
    background: #5957CA;
    color: #FFFFFF;
}

.footer-columns {
    text-align: center;
}

.copyright {
    text-align: center;
    padding-top: 50px;
}



