/*
COLOR PALETTE
https://coolors.co/47bfc1-c86ff6-5957ca-ffffff-252323
#47BFC1 - Maximum Blue Green
#C86FF6 - Heliotrope
#5957CA - Iris
#FFFFFF - White
#252323 - Raisin Black
*/

/* Colors
-----------------------------------*/
:root {
    --maximum-blue-green: #47BFC1;
    --heliotrope: #C86FF6;
    --Iris: #5957CA;
    --raisin-black: #252323;
}

/* Fonts
-----------------------------------*/
@font-face {
    font-family: "JosefinSans-Regular";
    src: url("../fonts/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: "JosefinSans-Light";
    src: url("../fonts/JosefinSans-Light.ttf");
}

/* Global Styles
-----------------------------------*/
body {
    font-family: "JosefinSans-Light", Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: "JosefinSans-Regular", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding: 80px;
}

.btn, .btn:hover {
    background: #5957CA;
    border: 1px solid #5957CA;
    border-radius: 0;
    color: #FFFFFF;
}

.full-width-section {
    text-align: center;
    background: #47BFC1;
    color: #FFFFFF;
}

/* Navigation
-----------------------------------*/
.navbar {
    background: #252323;
}

.dropdown-menu {
    border-radius: 0;
}


/* Header Style
-----------------------------------*/
.hero {
    /* padding: 6em; */
    background: #47BFC1;
    color: #FFFFFF;
    margin-top: 50px;
}

.hero p {
    font-size: 21px;
}

/* About
-----------------------------------*/
/* #about {
    padding: 6em;
    margin: 0 auto;
} */

/* Testimonials
-----------------------------------*/



/* Services
-----------------------------------*/



/* Blog
-----------------------------------*/
#blog {
    margin: 0 auto;
}

#blog .col-sm {
    padding: 10px;
}

#blog .card {
    color: #252323;
}

/* Contact
-----------------------------------*/
#contact input, #contact textarea, #contact button {
    margin: 10px auto;
    border-radius: 0;
}

/* Bottom CTA
-----------------------------------*/
#bottom-cta {
    background: #C86FF6;
    color: #FFFFFF;
}

/* Footer
-----------------------------------*/
.site-footer {
    background: #5957CA;
    color: #FFFFFF;
}

.copyright {
    text-align: center;
    padding-top: 50px;
}

#footer-subscribe button, #footer-subscribe button:hover {
    background: #47BFC1;
    border: 1px solid #47BFC1;
}

#footer-subscribe input[type='email'] {
    border-radius: 0;
}

/* Media Queries
------------------------------------*/
/* @media (min-width: 1200px) {
    .container {
      max-width: 1000px;
    }
} */


